@keyframes glow {
    from {
      box-shadow: 
          0 0 0.625px #fff,
          0 0 1.25px #fff,
          0 0 2.5px limegreen,
          0 0 5px limegreen,
          0 0 10px limegreen,
          0 0 20px limegreen,
          0 0 30px limegreen
      ;
    }
    to {
      box-shadow:
          0 0 2.5px #fff,
          0 0 5px limegreen,
          0 0 10px limegreen,
          0 0 20px limegreen,
          0 0 30px limegreen,
          0 0 40px limegreen,
          0 0 50px limegreen
      ;
    }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
