* {
    /* border:  1px solid red; */
    color: #fff;
}

body {
    background-color: black;
}

header h1 {
    margin: 0;
}

.flex {
    display: flex;
}

.flex.center-both {
    align-items: center;
    justify-content: center;
}

.rounds {
    margin-top: 0;
    font-size: 32px;
}

.selected {
    width: 250px;
    height: 250px;
    border: 2px solid;
    text-align: center;
    font-size: 36px;
    border-radius: 100%;
}

button {
    position: relative;
    overflow: hidden;
    padding: 12px;
    border-radius: 100%;
    background-color: black;
    animation: glow 0.5s ease-in-out infinite alternate;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 400ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

img {
    transform: scale(0.75);
}

button > img {
    height: 100px;
}

button:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    font-size: 18px;
    color: #fff;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #214559;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.modal button {
    animation: none;
    border-radius: 0;
    background-color: blue;
}